.numbersTable {
  display: flex;
  flex-wrap: wrap;
}

.number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 50px;
  border: 1px solid #ccc;
  margin: 5px;
}

.even {
  background-color: red;
}
