.App {
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}


.App-link {
  color: #61dafb;
}



.IdCard {
  display: flex;
  flex-flow: column nowrap;
}

.CreditCards {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}